<h1> Admin page</h1>
<%=link_to "graphs", graphs_path%><br>
<%=link_to "graph types", graph_types_path%><br>
<%=link_to "data sets", datasets_path%><br>
<%=link_to "dataset types", dataset_types_path%><br>
<%=link_to "filtered graph", filtered_graphs_path%><br>
