
<h1><%= link_to 'Create a new visualization with existing dataset', new_graph_path %></h1>


<div id = "main-graph">
</div>
<h2>Existing Graphs</h2>
<div class="container">
<div class="row">
<div id="vert-bar" class="col-md-4 graph-menu"><%= image_tag "bar.png", class: "graph-menu"%></div>
<div class="col-md-4 graph-menu"><%= image_tag "multi_line.png", class: "graph-menu"%></div>
<div class="col-md-4 graph-menu"><%= image_tag "pie.png", class: "graph-menu"%></div>
</div>
<div class="row">
<div class="col-md-4 graph-menu"><%= image_tag "stacked_bar.png", class: "graph-menu"%></div>
<div class="col-md-4 graph-menu"><%= image_tag "linenew.png", class: "graph-menu"%></div>
<div class="col-md-4 graph-menu"><%= image_tag "scatter_plot.png", class: "graph-menu"%></div>
</div>
</div>
<div id = "graph-list">
</div>


<script>
  $("#main-graph").load("/show_simple/1");
  $("#vert-bar").on("click", function () {
    $("#graph-list").load("short_list?type=Vertical+bar");  
  })
  //repeat the above for all graph types
  


</script>

