<%= form_for(@dataset_type) do |f| %>
  <% if @dataset_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset_type.errors.count, "error") %> prohibited this dataset_type from being saved:</h2>

      <ul>
      <% @dataset_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :num_cols %><br>
    <%= f.number_field :num_cols %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
