<div class="row">
<div class="col-md-5">
<div class="form">
<% dataset_types = DatasetType.all %>
<%= form_for(@dataset) do |f| %>
  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
      <% @dataset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    <div class="field form-group">
    <%= f.label :dataset_type %><br>
    <%= f.collection_select :dataset_type_id, dataset_types, :id, :name,
       {include_blank: "Select Dataset Type..."}, {class: "form-control"}%>
  </div>
  <div class="field form-group">
    <%= f.label :data_file %><br>
    <%= f.file_field :data_file, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 50, rows: 10, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-5">
<div id="dataset-instructions">
<h1> How to create your own dataset from websites with open data</h1>
<ul class= "list-unstyled step-by-step">
<li> <strong>Step 1: </strong> Download a spreadsheet and save it as a .tsv file. To start, we suggest searching for data on Data.gov. </li><br/>
<li> <strong>Step 2: </strong> Modify and clean up the file so there is only one header row and the rest of the rows should be only data without any extraneous text or other blank rows in the file. It also needs to match one of the dataset types you will pick on this page.</li><br/>
<li><strong>Step 3: </strong>Save the dataset in an your local directory then pick "choose file" to load it.</li><br/>
<li><strong> Step 4: </strong>Click on the "New Graph" link in the Navigation bar and choose your dataset.</li>
</ul>
</div>
  <% dataset_types.each do |dataset_type| %>
  <div id="dataset-type-info-<%=dataset_type.id%>" class="dataset-type-info">
  <h3>Dataset Type Info</h3>
    <h4>Your dataset must match the following specifications:</h4>
    <p><%= dataset_type.description %></p>
    <h4>Example:</h4>
    <%= image_tag dataset_type.image_file, width: 400 %> 
  </div>
  <% end %>
</div>
</div>
<script>
  $(".dataset-type-info").hide();
  $("#dataset_dataset_type_id").on("change", function() {
      $("#dataset-instructions").hide();
      
      $(".dataset-type-info").hide();
      
      $("#dataset-type-info-"  + $("#dataset_dataset_type_id").val()).show();
      
  });
</script>
