<p id="notice"><%= notice %></p>

<h1>Listing Datasets</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>File name</th>
    </tr>
  </thead>

  <tbody>
    <% @datasets.each do |dataset| %>
      <tr>
        <td><%= dataset.name %></td>
        <td><%= dataset.file_name %></td>
        <td><%= button_to "create graph", 
              {controller: "graphs", action: "new"}, 
              method: "get",
              params: {dataset_id: dataset.id},   
              class: "btn btn-default"%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset', new_dataset_path %>
