<p id="notice"><%= notice %></p>

<h1>Listing Graphs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dataset</th>
      <th>Graph type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <td><%= graph.name %></td>
        <td><%= graph.dataset.name %></td>
        <td><%= graph.graph_type.name if graph.graph_type %></td>
        <td><%= link_to 'Show', graph %></td>
        <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
        <td><%= link_to 'Destroy', graph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graph', new_graph_path %>
