<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @graph.name %>
</p>

<div id= "graph"></div>

<% if @graph.graph_type.name == "Vertical bar"%>
  <%= render partial: "bar"%>
  <%elsif @graph.graph_type.name == "line"%>
  <%= render partial: "line"%>
  <%elsif @graph.graph_type.name == "Pie"%>
  <%= render partial: "pie"%>
   <%elsif @graph.graph_type.name == "Multiline"%>
  <%= render partial: "multiline"%>
  <%end%>


<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
