<p id="notice"><%= notice %></p>

<h2>
  <!--<strong>Name:</strong>-->
  <%= @graph.name %>
</h2>

<div id= "graph"></div>

<% if @graph.graph_type.name == "Vertical bar"%>
  <%= render partial: "bar"%>
  <%elsif @graph.graph_type.name == "line"%>
  <%= render partial: "line"%>
  <%elsif @graph.graph_type.name == "Pie"%>
  <%= render partial: "pie"%>
   <%elsif @graph.graph_type.name == "Multiline"%>
  <%= render partial: "multiline"%>
  <%elsif @graph.graph_type.name == "stacked bar"%>
  <%= render partial: "stackedBar"%>
  <%elsif @graph.graph_type.name == "Scatter Plot"%>
  <%= render partial: "scatter"%>
  <%end%>


<%= link_to 'Edit', edit_graph_path(@graph) %> |
<%= link_to 'Back', graphs_path %>
<div id="twitter-share-section"></div>
<script>
$("#twitter-share-section").html('<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= graph_url @graph %>" data-text="Check out this Designer Data graph">Tweet</a>');
twttr.widgets.load(); 
</script>