<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DesignerData</title>
  <meta name="description" content="Creating and Sharing your own Data Visualizations.">

 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class= "navbar navbar-default" role= "navigation">
  <div class= "container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
         <%= link_to image_tag("logo.png"), root_url, class: "navbar-brand", id: "brand"%>   
      </div>
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav">      
          <li><%= link_to "Browse Datasets", datasets_browse_url%></li>
          <li><%= link_to "New Dataset", new_dataset_url%>
          </li>
          <li><%= link_to "New Graph", new_graph_url%></li>
          <li><%= link_to "About", about_url %></li>
          <li><a href="http://minmcknight.github.io">Blog</a></li>
        </ul>
      <ul class ="nav navbar-nav navbar-right">
        <li class="twitterbird">
            <%=image_tag("Twitter_logo_blue.png", size:"25x25") %> 
        </li>
        <% if current_user %>
         <li>
            <a href="#">Signed in as <%= current_user.name%></a>
         </li>
         <li>
            <%= link_to "Sign Out", sign_out_path, method: :delete%>
         </li>
         <% if is_admin? %>
          <li><%= link_to "Admin", {controller: :main, action: :admin}%>
          </li>
         <%end%>
        <%else%>
        <li>
            <%=link_to "Sign in with Twitter", "/auth/twitter" %>
        </li> 
        <%end%>   
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<%= yield %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</div>
<!-- twitter share button-->
<script>
window.twttr=(function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
  if(d.getElementById(id))return;
  js=d.createElement(s);
  js.id=id;
  js.src="https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);
  t._e=[];
  t.ready=function(f){t._e.push(f);};
  return t;
 }(document,"script","twitter-wjs"));
</script>
</body>
</html>
